<div class="media">
  <div class="media-body">
    <div class="media-section">
      <h2><%= @cocktail.name %></h2>
      <%= image_tag @cocktail.image %>
    </div>
  </div>
  <div class="media-aside">
    <div class="media-section">
      <h3>Ingredients</h3>
      <ul>
        <% @cocktail.doses.each do |dose| %>
          <li><%= "#{dose.description} #{dose.ingredient.name} "%> | <%= link_to "Delete ingredient", dose_path(dose), method: :delete %></li>
        <% end %>
      </ul>
    </div>
    <div class="media-section">
      <%= link_to "Add ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>  <%= link_to "Delete cocktail", cocktail_path(@cocktail), method: :delete, class: "btn btn-primary" %>
      <br>
      <br>
      <%= link_to "Back", cocktails_path, class: "btn btn-success" %>
    </div>
    </div>
  </div>
